<!DOCTYPE html>
<html lang="en">
<head>
  <% include head %>
</head>
<body class="container">

  <main>
    <div class="board">
      <h1>This is the game board</h1>
    </div>
  </main>

</body>
</html>