<!DOCTYPE html>
<html lang="en">
<head>
  <% include head %>
</head>
<body class="container">

  <main>
    <div id="board">
    </div>
  </main>
<script src="react-compiled/render.js"></script>
</body>
</html>