<!DOCTYPE html>
<html lang="en">
<head>
  <% include head %>
</head>
<body class="container">

  <main>
    <div id="board">
    </div>
  </main>

	<script src="/dist/bundle.js"></script>
</body>
</html>