* {
  text-align: center;
}

div {
  border: 2px solid;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
	 width: 100%;
}

.confirm-btn {
	display: none;
}

.visible {
  cursor: pointer;
}

.opponent-state .player-state {
  height: 50px;
}

.opponent-cards .battle-field .player-cards {
  height: 150px;
}

img {
  margin: 50px 10px;
}

.selected {
  border-style: solid;
  border-width: medium;
  border-color: red;
}